* {
box-sizing: border-box;
}
 
*:focus {
	outline: none;
}
body {
font-family: Arial;
background-color: #051481ed;
padding: 50px;
}
.login {
margin: 60px auto;
width: 300px;
}
.login-screen {
background-color: #00000082;
padding: 20px;
border-radius: 5px;
border: 3px solid #a3aefe;
}
 
.app-title {
text-align: center;
color: #777;
}

.app-title img{
  width: 90px;
}
 
.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}
 
input {
background-color: #ECF0F1;
border: 2px solid #051481;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 12px;
width: 250px;
transition: border .5s;
}
 
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
 
.btn {
  border: 2px solid transparent;
  background: #EC1F1F;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  cursor: pointer;
}
 
.btn:hover 
{
  background-color: #2980B9;
}
 
.login-link 
{
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}