<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Dashboard - ELYT</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<script src="/static/js/RGraph.common.core.js"></script>
<script src="/static/js/RGraph.common.dynamic.js"></script>
<script src="/static/js/RGraph.common.tooltips.js"></script>
<script src="/static/js/RGraph.hbar.js"></script>
<script src="/static/js/RGraph.common.key.js"></script>

<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/def_style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/pages/dashboard.css') }}" rel="stylesheet">

</head>
<body>
        <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                  <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a>
                     <a class="brand" href="/"><img src="../static/img/elyt_logo2.png" alt="ELYT" style="width: 40px;"></a>
                     <div class="nav-collapse">
                      <ul class="nav pull-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> elyt-ai@demo  <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="javascript:;">Settings</a></li>
                            <li><a href="javascript:;">Help</a></li>
                            <li><a href="/logout">Logout</a></li>
                          </ul>
                        </li>
                      </ul>
                      <form class="navbar-search pull-right">
                        <input type="text" class="search-query" placeholder="Search">
                      </form>
                    </div>
                    <!--/.nav-collapse --> 
                  </div>
                  <!-- /container --> 
                </div>
                <!-- /navbar-inner --> 
              </div>
              <!-- /navbar -->
              <div class="subnavbar">
                <div class="subnavbar-inner">
                  <div class="container">
                    <ul class="mainnav">
                      <li><a href="javascript:;"><i class="icon-facetime-video"></i><span>App Tour</span> </a></li>
                      <li class="active" style="background-color: #1523842e;"><a href="javascript:;" onclick="sendurl2();"><i class="icon-arrow-left"></i><span>Back</span> </a> </li>
                      <li style="border-right: 1px solid #d9d9d9;"><a href="javascript:;"><i class="icon-list-alt"></i><span>Reports</span> </a> </li>
                    </ul>
                  </div>
                  <!-- /container --> 
                </div>
                <!-- /subnavbar-inner --> 
              </div>

              <div class="main" style="border-bottom: 0px;">
                    <div class="main-inner">
                      <div class="container">
                        <div class="row">
                        
                          <div class="span4">
                            <div class="widget">
                              <div class="widget-header" style="height: auto;padding: 10px;background: #16248924;">
                                <h3> Predict Churn and Reason using Customer ID of customer from list of default file</h3>
                              </div>
                              <!-- /widget-header -->
                              <div class="widget-content">
                                <div class="widget big-stats-container" style="margin-bottom: 0px;">
                                  <div class="widget-content" style="background: #F5F5F5;">
                                    <div class="cf">
                                            <select name= dropdown_list method="GET" action="/" form="myform" id="dropdown_2" style="margin-bottom: 0px;">
                                                {% for each in dropdown_list_2 %}
                                                <option value="{{each}}" SELECTED>{{each}}</option>
                                               {% endfor %}
                                                </select>
                                                <button onclick="sendurl();" style="background-color: #3385ad;" class="btn btn-primary btn-md btn-block">Predict</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="span4">
                            <div class="widget">
                              <div class="widget-header" style="height: auto;padding: 10px;background: #16248924;">
                                <h3>Show Top x% Customers Most Probable to Leave</h3>
                              </div>
                              <!-- /widget-header -->
                              <div class="widget-content">
                                  <div class="widget big-stats-container" style="margin-bottom: 0px;">
                                  <div class="widget-content" style="background: #F5F5F5;">
                                    <div class="cf" style="text-align: center;">
                                            <form name="input%" action="/input_percent_default" onsubmit="return validate()" style="margin-bottom: 0px;" method = POST >
                                                <input type="text" placeholder="Enter Value of X (Top X%)" name = in class="input" style="margin-bottom: 0px;">
                                               <input type="submit" style="background-color: #8b6fbf;" value="Show" class="btn btn-primary btn-md btn-block">
                                            </form>
                                    </div>
                              </div>
                            </div>
                            </div>
                            </div>
                          </div>

                          <div class="span4">
                                <div class="widget">
                                  <div class="widget-header" style="height: auto;padding: 10px;background: #16248924;">
                                    <h3>Show Top 2 or 4 Customers Most Likely to Leave</h3>
                                  </div>
                                  <!-- /widget-header -->
                                  <div class="widget-content">
                                      <div class="widget big-stats-container" style="margin-bottom: 0px;">
                                      <div class="widget-content" style="background: #F5F5F5;">
                                        <div class="cf" style="text-align: center;">
                                                <button onclick="sendurl1();" class="btn btn-primary btn-md btn-block">TOP 2</button>
                                               
                                                <button onclick="sendurl4();"  class="btn btn-primary btn-md btn-block">TOP 4 </button>
		                            
                
                                        </div>
                                  </div>
                                </div>
                                </div>
                                </div>
                              </div>

                        </div>
                        <!-- /row --> 
                      </div>
                      <!-- /container --> 
                    </div>
                    <!-- /main-inner --> 
                  </div>


<center>

<canvas id="cvss" width="600" height="400" style="display:none;">
    [No canvas support]
</canvas>
</center>
<script>
    window.onload = function ()
    {
        var hbar = new RGraph.HBar({
            id: 'cvss',
            data:    [{% for item in values_res %}
                      {{item}},
                    {% endfor %}],
            options: {
                backgroundGrid: false,
                xmax: 100,
                scaleDecimals: 1,
                colors: ['#FDB515','#FDB515','#FDB515','#FDB515','#FDB515'],
                colorsSequential: true,
		tooltips: [
                {% for l in lab %}
                 'link : <a href="/check_default/{{l}}" value="{{l}}" >{{l}}</a>',
                 {% endfor %}],
                labels:  [{% for item in lab %}
                      "{{item}}",
                    {% endfor %}],
		
                labelsAbove: true,
                labelsAboveDecimals: 1,
		labelsAboveUnitsPost: '%',
                noxaxis: true,
                gutterLeft: 125,
                xlabels: false,
                textAccessible: true
            }
        }).grow();
    };
</script>

<script>
    function sendurl1() {
	document.getElementById('cvss').style.display='block';
        window.location.assign("/uploader/data_default/2");
	document.getElementById('cvss').style.display='block';
    }
</script>

<script>
if (window.location.pathname=="/uploader/data_default/2" || window.location.pathname=="/uploader/data_default/4"){
	document.getElementById('cvss').style.display='block';
}

</script>

<script>
    function sendurl4() {
	document.getElementById('cvss').style.display='block';
        window.location.assign("/uploader/data_default/4");
	document.getElementById('cvss').style.display='block';
    }
</script>




<script>

function sendurl(){
	window.location.assign("/check_default/"+document.getElementById("dropdown_2").value);
}

function sendurl2(){
	window.location.assign("/backtofile");
}

    function validate() {
        var x = document.forms["input%"]["in"].value;
        if (x == "") {
            alert("No input provided");
            return false;
        }
    }

</script>

</body>
</html>
      